{% extends 'base.html' %} {% block content %}

<h4>{{product.name}}</h4>
<p>€{{product.price}}</p>
<p>{{product.description}}</p>
<p>{{product.milk_type}}</p>
<p>{{product.milk_sanitation}}</p>
<p>{{product.fat_content}}</p>
<p>{{product.ripening}}</p>

<div>
    <form action="{%url 'add_to_cart'%}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{product.id}}" />
        <p><input type="hidden" name="quantity" value="1" /></p>
        <button class="btn btn-success btn-primary-bg-color" type="submit"><i class="fas fa-cart-plus"></i>Add to cart</button>
    </form>
</div>


{% endblock %}
